.input-container {
  display: flex;
  flex-direction: column;

  label {
    color: var(--primary-color);
    transition: color 0.25s ease-in;
  }

  &:focus-within label {
    color: var(--secondary-color);
  }
  
  input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-color);
    padding: .5rem 0;
    transition: border 0.25s ease-in;
    
    &:focus-visible {
      border-bottom: 1px solid var(--secondary-color);
    }
  }
}
