.main-table {
  width: 100%;
  white-space: nowrap;

  tbody {
    tr:hover td {
      opacity: 0.5;
    }
    td {
      button {
        padding: 0.25rem 0.7rem;
      }
      input {
        padding: 0;
        font-size: medium;
      }
    }
  }
}
